/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Optional: Custom Scrollbar for Chrome/Safari/Edge */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  @apply bg-[#0a0b14];
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-800 rounded-full hover:bg-indigo-500;
}